.contact h2{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 500px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;

}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid grey;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    color: black;
    margin: 12px 0;
}

.field .item::placeholder{
    color: grey;
}

.field .error-txt{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
form .textarea-field .item{
    resize: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}
form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover{
    box-shadow: none;

}