
.top-tour {
    padding: 50px 15px;
    width: 100%;
}
.top-tour-heading {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
.top-tour-container {
    position: relative; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.top-tour-container-list {
    width: 100%; 
    display: flex;
    transition: 0.5s;
}

.top-tour-content-item {
    width: 70%;
    padding: 16px;
    flex-shrink: 0;
}
.top-tour-container-link {
    text-decoration: none;
}
.top-tour-container-item-img {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
}
.top-tour-container-item-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-tour-container-item-img > img:hover {
    scale: 1.2;
}
.top-tour-container-item-content {
    text-align: center;
}
.top-tour-name {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 4px;
    color: #333;
}
.top-tour-number {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #5E6D77;
}

/* tour-list */
.tour-list-container {
    background-color: #f7f8fa;
    padding: 50px 16px;
}
.tour-list-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
.tour-list-content {

}
.row {
    display: flex;
    margin: 24px 0;
}
.col-3 {
    width: 25%;
    margin: 0 16px;
}
.tour-item {
    box-shadow: 0 0 20px #ccc;
    border-radius: 16px;
    overflow: hidden;
}
.tour-item-img {
    width: 100%;
    overflow: hidden;
}
.tour-item-img > img {
    width: 100%;
}
.tour-item-img > img:hover {
    scale: 1.2;
}
.tour-item-content {
    padding: 16px;
}
.tour-item-location {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #5E6D77;
}
.tour-item-location-icon {

}
.tour-item-title {
    display: block;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin: 16px 0;
    color: #1A2B48;
}
.tour-item-reviews {
    margin-top: 0;
    margin-bottom: 15px;
}
.tour-item-reviews-icon {
    font-size: 18px;
    color: #ecdd0b;
}
.tour-item-rating {
    background-color: transparent;
    font-family: dm sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
    margin-right: 4px;
}
.tour-item-summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5E6D77;
}
.tour-item-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.tour-item-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* margin-left: 8px; */
}
.tour-item-unit {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color:  #5E6D77;
    white-space: nowrap;
    float: right;
}