<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>modtour</title>

    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" type="text/css">
    <style>

    </style>
</head>
<body >

<!-- header start -->
<div layout:fragment="header">
    <div th:replace="~{layouts/frontend/header :: header}"></div>
</div>
<!-- header end -->

<!-- Content Section -->
<div layout:fragment="content"></div>

<!-- footer start -->
<div layout:fragment="footer">
    <div th:replace="~{layouts/frontend/footer :: footer}"></div>
</div>
<!-- footer end -->

<script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/fontawesome/all.min.js}"></script>
</body>
</html>>