<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./trangchu.css">
    <link rel="stylesheet" href="./swiper.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <div class="top-tour ">
        <div class="top-tour-heading">
            Top destinations
        </div>
        <div class="swiper ">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/California-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">California</span>
                                <span class="top-tour-number">16 tours</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/Los-Angeles-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">Los-Angeless</span>
                                <span class="top-tour-number">13 tours</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/New-Jersey-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">New Jersey</span>
                                <span class="top-tour-number">23 tours</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/Virginia-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">Virginia</span>
                                <span class="top-tour-number">2 tours</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/beach-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">Virginia Beach</span>
                                <!-- <span class="top-tour-number">16 tours</span> -->
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/San-Francisco-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">San Francisco</span>
                                <span class="top-tour-number">10 tours</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="top-tour-content-item">
                        <a href="" class="top-tour-container-link">
                            <div class="top-tour-container-item-img">
                                <img src="./image/New-York-City-400x400.jpg" alt="">
                            </div>
                            <div class="top-tour-container-item-content">
                                <span class="top-tour-name">New York City</span>
                                <span class="top-tour-number">13 tours</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!-- <div class="top-tour-container">
            <div class="top-tour-container-list ">
               <div class="top-tour-content-item">
                    <a href="" class="top-tour-container-link">
                        <div class="top-tour-container-item-img">
                            <img src="./image/California-400x400.jpg" alt="">
                        </div>
                        <div class="top-tour-container-item-content">
                            <span class="top-tour-name">California</span>
                            <span class="top-tour-number">16</span>
                        </div>
                    </a>
               </div>
               <div class="top-tour-content-item">
                    <a href="" class="top-tour-container-link">
                        <div class="top-tour-container-item-img">
                            <img src="./image/Los-Angeles-400x400.jpg" alt="">
                        </div>
                        <div class="top-tour-container-item-content">
                            <span class="top-tour-name">California</span>
                            <span class="top-tour-number">16</span>
                        </div>
                    </a>
                </div>
                <div class="top-tour-content-item">
                    <a href="" class="top-tour-container-link">
                        <div class="top-tour-container-item-img">
                            <img src="./image/New-Jersey-400x400.jpg" alt="">
                        </div>
                        <div class="top-tour-container-item-content">
                            <span class="top-tour-name">California</span>
                            <span class="top-tour-number">16</span>
                        </div>
                    </a>
               </div>
               <div class="top-tour-content-item">
                    <a href="" class="top-tour-container-link">
                        <div class="top-tour-container-item-img">
                            <img src="./image/San-Francisco-400x400.jpg" alt="">
                        </div>
                        <div class="top-tour-container-item-content">
                            <span class="top-tour-name">California</span>
                            <span class="top-tour-number">16</span>
                        </div>
                    </a>
                </div>
                <div class="top-tour-content-item">
                    <a href="" class="top-tour-container-link">
                        <div class="top-tour-container-item-img">
                            <img src="./image/beach-400x400.jpg" alt="">
                        </div>
                        <div class="top-tour-container-item-content">
                            <span class="top-tour-name">California</span>
                            <span class="top-tour-number">16</span>
                        </div>
                    </a>
               </div>
               <div class="top-tour-content-item">
                    <a href="" class="top-tour-container-link">
                        <div class="top-tour-container-item-img">
                            <img src="./image/Virginia-400x400.jpg" alt="">
                        </div>
                        <div class="top-tour-container-item-content">
                            <span class="top-tour-name">California</span>
                            <span class="top-tour-number">16</span>
                        </div>
                    </a>
                </div>

            </div>
        </div> -->
    </div>
    <script src="./dexuat.js"></script>


</body>
</html>