<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/assets/css/list-tour.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="tour-list-container">
            <span class="tour-list-heading">
                Get inspired for your next trip
            </span>
    <div class="tour-list-content">
        <div class="row">
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/new york usa.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    New York, USA
                                </span>
                        <span class="tour-item-title">
                                    3-Day Loire Mer Extrordinaire Seine
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $225,00
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        2 days
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/HD-photo-by-Bailey-Alexander-900x600_los_angeles.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    Los Angeles
                                </span>
                        <span class="tour-item-title">
                                    America's National Parks with Denver
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(3 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $100,00
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        4 days
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/90375_5bd5787b-900x600_Nevada_American.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    Nevada, American
                                </span>
                        <span class="tour-item-title">
                                    American Parks Trail end Rapid City Express
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $127,50
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        8 hours
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/90375_5bd5787b-900x600_Nevada_American.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    Nevada, American
                                </span>
                        <span class="tour-item-title">
                                    American Parks Trail end Rapid City Express
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $127,50
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        8 hours
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/California_USA.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    California, USA
                                </span>
                        <span class="tour-item-title">
                                    California and the Golden West Summer 2019
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $225,00
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        3 days
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/California_USA.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    California, USA
                                </span>
                        <span class="tour-item-title">
                                    California and the Golden West Summer 2019
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $225,00
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        3 days
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/90375_5bd5787b-900x600_Nevada_American.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    Nevada, USA
                                </span>
                        <span class="tour-item-title">
                                    Cannes and Antibes Night Tour the Seine Extraordinaire
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                                    <span class="tour-item-price">
                                        From $91,00
                                    </span>
                            <span class="tour-item-unit">
                                        <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                        3 days
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="tour-item">
                    <div class="tour-item-img">
                        <img src="./image/New_Jersey.jpg" alt="">
                    </div>
                    <div class="tour-item-content">
                                <span class="tour-item-location">
                                    <i class="fa-solid fa-location-dot tour-item-location-icon"></i>
                                    New Jersey New Jersey
                                </span>
                        <span class="tour-item-title">
                                    Eastern Discovery (Start New Orleans)
                                </span>
                        <div class="tour-item-reviews">
                            <i class="fa-solid fa-star tour-item-reviews-icon"></i>
                            <span class="tour-item-rating">5</span>
                            <span class="tour-item-summary">(2 reviews)</span>
                        </div>
                        <div class="tour-item-footer">
                            <span class="tour-item-price">
                                From
                                $250,00
                            </span>
                            <span class="tour-item-unit">
                                <i class="fa-regular fa-clock tour-item-unit-icon"></i>
                                3-5 hours
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="pagination list-tour__pagination">
    <li class="pagination-item pagination-item--active">
        <a href="" class="pagination-item__link">1</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">2</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">
            <i class="pagination-item__icon fa-solid fa-chevron-right"></i>
        </a>
    </li>
</ul>

</body>
</html>